<div>
    <div>   Profile of {{username}}</div>
</div>
<div id="container">
  <div class="card" *ngFor="let image of images">
    <div class="image" [style.background-image]="'url('+image+')'">     
  </div>
  </div>
  <div>
      <div><button (click)="onClick()">♥ {{likeClick}}</button></div> 
    <p>Comment</p>
    <ul class="list">
        <li *ngFor='let input of inputs'> {{input.comment}}</li>
    </ul>
  
    <div>
  <form [formGroup]="todo" (ngSubmit)="onSubmit()">
      <!-- <label>Comment</label> -->
     <p>Type your comment here:</p> <input type="text" formControlName="comment"/>
     <p> <input type="submit" /> </p>
  </form>
</div>
</div>
</div>
